html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  height: 100%;
  bottom: 0px;
  left: 362px;
  right: 0px;
}

#interface {
  height: calc(100% - 40px);
  width: 340px;
  padding: 10px 10px 30px 10px;
  background: #fff;
  text-align: left;
  line-height: 35px;
}

.container {
  height: 100%;
}

#place-list {
  height: calc(100vh - 320px);
  overflow: hidden;
  overflow-y: scroll;
}

#place-photo {
  width: 100%;
}
